.mat-mdc-dialog-actions{
    justify-content: center
}

p{
    font-size: 20px;
    text-align: center;
}
.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.mdc-dialog__content, .mdc-dialog__actions{
    background-color: #222222;
}