/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    font-family: Shadows Into Light, cursive;
}
body{
    background-color: #121212;
    color: white;
    font-size: 18px;
}

body {
    margin: 0; 
    font-family: Shadows Into Light, cursive;
}
